@use 'scss/config';
@use "scss/reporter";

html {
	height: 100%;
	width: 100%;
}

html, body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
}

body {
}

#reporter {
	flex-grow: 1;

	@extend %light-theme;

	&.dark {
		@extend %dark-theme;
	}

	color: var(--text);
	background-color: var(--background);

	@extend %reporter;
}
